h1, h2, h3,
h4, h5, h6{
  padding: 15px 0px 0px 0px;
}

h1{
 display: flex;
 justify-content: center;
 font-size: 30pt;
}

h2{
 font-size: 26pt;
}

h3{
 font-size: 22pt;
}

h4{
 font-size: 18pt;
}

h5{
 font-size: 14pt;
}

h6{
 font-size: 12pt;
}

body{
  font-family: Helvetica;
  font-size: 13pt;
}

hr{
  border: 1px solid gray;
  margin: 10px 0px;
}

.center{
  display: flex;
  justify-content: center;
}

#Step1-1, #Step1-2, #Step1-3, #Step1-4, #Step1-5, #Step1-6, #Step1-7,
#Step2-1, #Step2-2, #Step2-3, #Step2-4, #Step2-5, #Step2-6, #Step2-7,
#Step3-1, #Step3-2, #Step3-3, #Step3-4, #Step3-5, #Step3-6, #Step3-7,
#Step4-1, #Step4-2, #Step4-3, #Step4-4, #Step4-5, #Step4-6, #Step4-7,
#Step5-1, #Step5-2, #Step5-3, #Step5-4, #Step5-5, #Step5-6, #Step5-7,
#Step6-1, #Step6-2, #Step6-3, #Step6-4, #Step6-5, #Step6-6, #Step6-7,
#Step7-1, #Step7-2, #Step7-3, #Step7-4, #Step7-5, #Step7-6, #Step7-7,
#Step8-1, #Step8-2, #Step8-3, #Step8-4, #Step8-5, #Step8-6, #Step8-7{
  visibility: hidden;
  color: #FF69B4;
}

.column-left{
  padding: 2%;
  float: left;
  width: 50%;
  text-align: left;
}

.column-right{
  padding: 2%;
  float: right;
  width: 50%;
  text-align: left;
}

.button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button:hover {
  background-color: #f7fafa;
}

.button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

@media (min-width: 768px)
.col-sm-6 {
    width: 100%;
}