h1, h2, h3,
h4, h5, h6{
  padding: 15px 0px 0px 0px;
}

h1{
 display: flex;
 justify-content: center;
 font-size: 30pt;
}

h2{
 font-size: 26pt;
}

h3{
 font-size: 22pt;
}

h4{
 font-size: 18pt;
}

h5{
 font-size: 14pt;
}

h6{
 font-size: 12pt;
}

body{
  font-family: Helvetica;
  font-size: 13pt;
}

hr{
  border: 1px solid gray;
  margin: 10px 0px;
}

.center{
  display: flex;
  justify-content: center;
}

.column-left{
  padding: 2%;
  float: left;
  width: 50%;
  text-align: left;
}

.column-right{
  padding: 2%;
  float: right;
  width: 50%;
  text-align: left;
}

.button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button:hover {
  background-color: #f7fafa;
}

.button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

@media (min-width: 768px)
.col-sm-6 {
    width: 100%;
}